/* Overrides */

@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

html, body {
    font-family: 'Merriweather', serif;
}

a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

#px-header {
    text-shadow: 0 0 2px #000;
    animation: 2s slide-in ease-in;
}

.btn-floating:hover {
    background-color: #2bbbad;
}

.footer-copyright {
    padding-left: 0.75rem;
}

@keyframes slide-in {
    0% {
        transform: translateY(-70%);
        opacity: 0.0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Overrides for form styling in Materialize CSS*/
form {
    width: 100%;
    color: #525252
}

.form-group {
    padding: 1rem 0;
    color: #525252
}

label {
    font-size: 0.8rem;
    color: #9e9e9e;
}

/* Text inputs */
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 100%;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

    input:not([type]):disabled, input:not([type])[readonly="readonly"],
    input[type=text]:not(.browser-default):disabled,
    input[type=text]:not(.browser-default)[readonly="readonly"],
    input[type=password]:not(.browser-default):disabled,
    input[type=password]:not(.browser-default)[readonly="readonly"],
    input[type=email]:not(.browser-default):disabled,
    input[type=email]:not(.browser-default)[readonly="readonly"],
    input[type=url]:not(.browser-default):disabled,
    input[type=url]:not(.browser-default)[readonly="readonly"],
    input[type=time]:not(.browser-default):disabled,
    input[type=time]:not(.browser-default)[readonly="readonly"],
    input[type=date]:not(.browser-default):disabled,
    input[type=date]:not(.browser-default)[readonly="readonly"],
    input[type=datetime]:not(.browser-default):disabled,
    input[type=datetime]:not(.browser-default)[readonly="readonly"],
    input[type=datetime-local]:not(.browser-default):disabled,
    input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
    input[type=tel]:not(.browser-default):disabled,
    input[type=tel]:not(.browser-default)[readonly="readonly"],
    input[type=number]:not(.browser-default):disabled,
    input[type=number]:not(.browser-default)[readonly="readonly"],
    input[type=search]:not(.browser-default):disabled,
    input[type=search]:not(.browser-default)[readonly="readonly"],
    textarea.materialize-textarea:disabled,
    textarea.materialize-textarea[readonly="readonly"] {
        color: rgba(0, 0, 0, 0.42);
        border-bottom: 1px dotted rgba(0, 0, 0, 0.42);
    }

        input:not([type]):disabled + label,
        input:not([type])[readonly="readonly"] + label,
        input[type=text]:not(.browser-default):disabled + label,
        input[type=text]:not(.browser-default)[readonly="readonly"] + label,
        input[type=password]:not(.browser-default):disabled + label,
        input[type=password]:not(.browser-default)[readonly="readonly"] + label,
        input[type=email]:not(.browser-default):disabled + label,
        input[type=email]:not(.browser-default)[readonly="readonly"] + label,
        input[type=url]:not(.browser-default):disabled + label,
        input[type=url]:not(.browser-default)[readonly="readonly"] + label,
        input[type=time]:not(.browser-default):disabled + label,
        input[type=time]:not(.browser-default)[readonly="readonly"] + label,
        input[type=date]:not(.browser-default):disabled + label,
        input[type=date]:not(.browser-default)[readonly="readonly"] + label,
        input[type=datetime]:not(.browser-default):disabled + label,
        input[type=datetime]:not(.browser-default)[readonly="readonly"] + label,
        input[type=datetime-local]:not(.browser-default):disabled + label,
        input[type=datetime-local]:not(.browser-default)[readonly="readonly"] + label,
        input[type=tel]:not(.browser-default):disabled + label,
        input[type=tel]:not(.browser-default)[readonly="readonly"] + label,
        input[type=number]:not(.browser-default):disabled + label,
        input[type=number]:not(.browser-default)[readonly="readonly"] + label,
        input[type=search]:not(.browser-default):disabled + label,
        input[type=search]:not(.browser-default)[readonly="readonly"] + label,
        textarea.materialize-textarea:disabled + label,
        textarea.materialize-textarea[readonly="readonly"] + label {
            color: rgba(0, 0, 0, 0.42);
        }

    input:not([type]):focus:not([readonly]),
    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=url]:not(.browser-default):focus:not([readonly]),
    input[type=time]:not(.browser-default):focus:not([readonly]),
    input[type=date]:not(.browser-default):focus:not([readonly]),
    input[type=datetime]:not(.browser-default):focus:not([readonly]),
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    input[type=tel]:not(.browser-default):focus:not([readonly]),
    input[type=number]:not(.browser-default):focus:not([readonly]),
    input[type=search]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #26a69a;
        -webkit-box-shadow: 0 1px 0 0 #26a69a;
        box-shadow: 0 1px 0 0 #26a69a;
    }

        input:not([type]):focus:not([readonly]) + label,
        input[type=text]:not(.browser-default):focus:not([readonly]) + label,
        input[type=password]:not(.browser-default):focus:not([readonly]) + label,
        input[type=email]:not(.browser-default):focus:not([readonly]) + label,
        input[type=url]:not(.browser-default):focus:not([readonly]) + label,
        input[type=time]:not(.browser-default):focus:not([readonly]) + label,
        input[type=date]:not(.browser-default):focus:not([readonly]) + label,
        input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
        input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
        input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
        input[type=number]:not(.browser-default):focus:not([readonly]) + label,
        input[type=search]:not(.browser-default):focus:not([readonly]) + label,
        textarea.materialize-textarea:focus:not([readonly]) + label {
            color: #26a69a;
        }

    input:not([type]).validate + label,
    input[type=text]:not(.browser-default).validate + label,
    input[type=password]:not(.browser-default).validate + label,
    input[type=email]:not(.browser-default).validate + label,
    input[type=url]:not(.browser-default).validate + label,
    input[type=time]:not(.browser-default).validate + label,
    input[type=date]:not(.browser-default).validate + label,
    input[type=datetime]:not(.browser-default).validate + label,
    input[type=datetime-local]:not(.browser-default).validate + label,
    input[type=tel]:not(.browser-default).validate + label,
    input[type=number]:not(.browser-default).validate + label,
    input[type=search]:not(.browser-default).validate + label,
    textarea.materialize-textarea.validate + label {
        width: 100%;
    }

    input:not([type]).invalid + label:after,
    input:not([type]).valid + label:after,
    input[type=text]:not(.browser-default).invalid + label:after,
    input[type=text]:not(.browser-default).valid + label:after,
    input[type=password]:not(.browser-default).invalid + label:after,
    input[type=password]:not(.browser-default).valid + label:after,
    input[type=email]:not(.browser-default).invalid + label:after,
    input[type=email]:not(.browser-default).valid + label:after,
    input[type=url]:not(.browser-default).invalid + label:after,
    input[type=url]:not(.browser-default).valid + label:after,
    input[type=time]:not(.browser-default).invalid + label:after,
    input[type=time]:not(.browser-default).valid + label:after,
    input[type=date]:not(.browser-default).invalid + label:after,
    input[type=date]:not(.browser-default).valid + label:after,
    input[type=datetime]:not(.browser-default).invalid + label:after,
    input[type=datetime]:not(.browser-default).valid + label:after,
    input[type=datetime-local]:not(.browser-default).invalid + label:after,
    input[type=datetime-local]:not(.browser-default).valid + label:after,
    input[type=tel]:not(.browser-default).invalid + label:after,
    input[type=tel]:not(.browser-default).valid + label:after,
    input[type=number]:not(.browser-default).invalid + label:after,
    input[type=number]:not(.browser-default).valid + label:after,
    input[type=search]:not(.browser-default).invalid + label:after,
    input[type=search]:not(.browser-default).valid + label:after,
    textarea.materialize-textarea.invalid + label:after,
    textarea.materialize-textarea.valid + label:after {
        display: none;
    }

    input:not([type]).invalid + label.active:after,
    input:not([type]).valid + label.active:after,
    input[type=text]:not(.browser-default).invalid + label.active:after,
    input[type=text]:not(.browser-default).valid + label.active:after,
    input[type=password]:not(.browser-default).invalid + label.active:after,
    input[type=password]:not(.browser-default).valid + label.active:after,
    input[type=email]:not(.browser-default).invalid + label.active:after,
    input[type=email]:not(.browser-default).valid + label.active:after,
    input[type=url]:not(.browser-default).invalid + label.active:after,
    input[type=url]:not(.browser-default).valid + label.active:after,
    input[type=time]:not(.browser-default).invalid + label.active:after,
    input[type=time]:not(.browser-default).valid + label.active:after,
    input[type=date]:not(.browser-default).invalid + label.active:after,
    input[type=date]:not(.browser-default).valid + label.active:after,
    input[type=datetime]:not(.browser-default).invalid + label.active:after,
    input[type=datetime]:not(.browser-default).valid + label.active:after,
    input[type=datetime-local]:not(.browser-default).invalid + label.active:after,
    input[type=datetime-local]:not(.browser-default).valid + label.active:after,
    input[type=tel]:not(.browser-default).invalid + label.active:after,
    input[type=tel]:not(.browser-default).valid + label.active:after,
    input[type=number]:not(.browser-default).invalid + label.active:after,
    input[type=number]:not(.browser-default).valid + label.active:after,
    input[type=search]:not(.browser-default).invalid + label.active:after,
    input[type=search]:not(.browser-default).valid + label.active:after,
    textarea.materialize-textarea.invalid + label.active:after,
    textarea.materialize-textarea.valid + label.active:after {
        display: block;
    }

textarea {
    width: 100%;
    height: 3rem;
    background-color: transparent;
}

    textarea.materialize-textarea {
        overflow-y: hidden;
        /* prevents scroll bar flash */
        padding: .8rem 0 1.6rem 0;
        /* prevents text jump on Enter keypress */
        resize: none;
        min-height: 3rem;
    }

        textarea.materialize-textarea.validate + label {
            height: 100%;
        }

            textarea.materialize-textarea.validate + label::after {
                top: calc(100% - 12px);
            }

            textarea.materialize-textarea.validate + label:not(.label-icon).active {
                -webkit-transform: translateY(-25px);
                transform: translateY(-25px);
            }

textarea {
    overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
    color: #808080;
    font: inherit;
    margin: 0;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

    .z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
        -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    }

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

    .btn:hover, .btn-large:hover {
        background-color: #2bbbad;
    }

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/* ################################################################## */
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    #color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 20rem;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.parallax-container-blur {
    filter: blur(2px);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

    .icon-block .material-icons {
        font-size: inherit;
    }

footer.page-footer {
    margin: 0;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* Parallax CSS   #########################################################
   for home page  ######################################################### */
/* Tiny reset thingy */

.px-wrapper {
    /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
    height: 100vh;
    /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    overflow-x: hidden;
    overflow-y: hidden;
    /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
    perspective: 2px;
}

.px-section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 100vh;
    /* For text formatting. */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}

.parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    background-size: 100%;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
}

/* The styling for the static div. */
.px-static {
    background: #fff;
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
    background-image: url('../../img/homefull.jpeg');
}

.bg2::after {
    background-image: url('https://placekitten.com/g/800/600');
}