{% extends "app/layout.html" %}

{% load static %}

{% block content %}
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <br>
                <br>
                <h1 class="header center white-text">{{ title }}</h1>
                <br>
                <br>
            </div>
        </div>

        <div class="parallax">
            <img src="../../static/img/{{ title }}.jpg" />
        </div>
    </div>
<!-- end page header -->

    <div class="container center">
        <div class="row">

            <!-- Main Page Content -->
            <div class="col s12">
                <h3>Available Documentation</h3>

                <div class="col s2"></div>
                <div class="col s8 center">
                    {% if filelist %}
                        <ul class="collection">
                            {% for obj in filelist %}
                                <li class="collection-item avatar">
                                    <i class="material-icons circle blue">folder</i>
                                    <span class="title"><a href="{{ obj.document.url }}">{{ obj.title }}</a></span>
                                    <p>{{ obj.description }}
                                    <br />
                                    <i class="grey-text lighten-3"><small>{{ obj.uploaded_at.date }}</small></i></p>
                                    <!-- <p class="secondary-content"><i class="material-icons">grade</i></p> -->
                                </li>
                            {% endfor %}
                        </ul>
                    
                    {% else %}
                    <span class="title"><i>No files are available</i></span>
                    {% endif %}

                </div>
                <div class="col s2"></div>

            </div>
        </div>
    </div>
<!-- end main page content -->
{% endblock %}




