{% extends 'app/layout.html' %}

{% block head %}
    <link href="../../static/app/content/bootstrap.forms.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Search Documentation</h1>
    </div>

    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="btn btn-default waves-effect waves-light">Search</button>
    </form>

    <h1>Results</h1>
    <ul>
        {% for doc in filter.qs %}
            <li>{{ doc.title }} - {{ doc.description }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}