<footer class="blue darken-3">
    <div class="container">
        <div class="row">
            <div class="col l4">
                <h5 class="white-text"">UBCI</h5>
                <p class="grey-text text-lighten-4">Utilities Billing and Collections of Fresno, CA.
                <br />
                342 Van Ness Ave
                <br />
                Fresno, CA 93711
                <br />
                <i class="fas fa-phone"></i> (559) 287-1990
                <br />
                <i class="fas fa-fax"></i> (559) 287-1999</p>
            </div>

            <div class="col l2 offset-l4">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a href="{% url 'administration' %}"><i class="tiny material-icons">account_balance</i> Administration</a></li>
                    <li><a href="{% url 'billing' %}"><i class="tiny material-icons">assignment</i> Billing</a></li>
                    <li><a href="{% url 'collections' %}"><i class="tiny material-icons">monetization_on</i> Collections</a></li>
                    <li><a href="{% url 'customer service' %}"><i class="tiny material-icons">ring_volume</i> Customer Service</a></li>
                    <li><a href="{% url 'field service' %}"><i class="tiny material-icons">nature_people</i> Field Service</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright blue darken-4 white-text">
        <div class="container">
            <p>&copy;2018 - Seth Bagdanov & Utilities Billing and Collections Intranet. All rights reserved.
            <br />Designed and Created by <a href="mailto:seth.bagdanov@gmail.com">Seth Bagdanov</a>.</p>
        </div>
    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

</footer>

