{% extends 'app/layout.html' %}

{% block content %}

    <!-- template content block -->
    <div class="px-wrapper">
        <section class="px-section parallax bg1">
            <h1 >UBCI</h1>
        </section>
    </div>

    <!-- department links -->
    <div class="container">
        <div class="row"><h2></h2></div>
        <div class="center row">
            <div class="col s1"></div>
            <div class="col s2">
                <a href="{% url 'administration' %}"><i class="large material-icons">account_balance</i></a>
                <p><a href="{% url 'administration' %}">Administration</a></p>
            </div>
            <div class="col s2">
                <a href="{% url 'billing' %}"><i class="large material-icons">assignment</i></a>
                <p><a href="{% url 'billing' %}">Billing</a></p>
            </div>
            <div class="col s2">
                <a href="{% url 'collections' %}"><i class="large material-icons">monetization_on</i></a>
                <p><a href="{% url 'collections' %}">Collections</a></p>
            </div>

            <div class="col s2">
                <a href="{% url 'customer service' %}"><i class="large material-icons">ring_volume</i></a>
                <p><a href="{% url 'customer service' %}">Customer Service</a></p>
            </div>
            <div class="col s2">
                <a href="{% url 'field service' %}"><i class="large material-icons">nature_people</i></a>
                <p><a href="{% url 'field service' %}">Field Service</a></p>
            </div>
            <div class="col s1"></div>
        </div>
    </div> <!-- end dept links -->

{% endblock %}
