<html>
<head>
<script src="../../static/app/scripts/bootstrap.js"></script>
<link href="../../static/app/content/bootstrap.css" rel="stylesheet" />
<link href="../../static/app/content/site.css" rel="stylesheet" />
</head>

<body>
<div class="container">
    <div class="row">
        <h1>Upload a Document</h1>
    </div>

    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

</div>

</body>
</html>